/TP_Moduls2/nbproject/private/
/TP_Moduls2/build/
/Moduls3/nbproject/private/
/com.method/nbproject/private/
/com.method/build/
/com.methodd/nbproject/private/
/StudentManagement/nbproject/private/
/StudentManagementt/nbproject/private/
/StudentManagementt/build/
/com.methoddd/nbproject/private/
/student/nbproject/private/
/Mdls3/nbproject/private/
/Mdls3/build/
/Quis1/nbproject/private/
/Quis1/build/
/student/build/
/Modul4/nbproject/private/
/Modul4/build/
/Moduls5/nbproject/private/
/Modul 6/nbproject/private/
/Modul 6/build/
